body {
  background-color: lightblue;
}

/* Number input arrow removal for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#sudokuPuzzle {
  display: flex;
  justify-content: center;
}

h1{
  text-align: center;
}

/* Number input arrow removal for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button{
  text-align: center;
}
.hidden{
  display:none;
}
#winMessage{
  color:rgb(39, 215, 39);
  text-align: center;
}
#loseMessage{
  color: rgb(234, 140, 46);
  text-align: center;
}

#progressMessage{
  text-align: center;
}

#checkerButton{
  margin-left: 45px;
}

.box-input {
  width: 50px;
  height: 50px;
  padding: 1px;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  caret-color: transparent;
  background-color: #EEEEEE;
}

.box-input:focus {
  outline: none !important;
  border: 4px solid goldenrod;
}

.box-top {
  border-top: 3px solid black;
}

.box-bottom {
  border-bottom: 3px solid black;
}

.box-left {
  border-left: 3px solid black;
}

.box-right {
  border-right: 3px solid black;
}

.box-valid-row {
  background-color: #EEEEEE;
}

.box-invalid-row {
  background-color: #ffa3a3bd !important;
}

.box-valid-col {
  background-color: #EEEEEE;
}

.box-invalid-col {
  background-color: #ffa3a3bd !important;
}

.box-valid-square{
  background-color: #EEEEEE;
}

.box-invalid-square {
  background-color: #ffa3a3bd !important;
}